-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: forensic_medicine_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_customuser`
--

DROP TABLE IF EXISTS `accounts_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `login_attempts` smallint unsigned NOT NULL,
  `is_locked` tinyint(1) NOT NULL,
  `must_change_password` tinyint(1) NOT NULL,
  `last_login_ip` char(39) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  CONSTRAINT `accounts_customuser_chk_1` CHECK ((`login_attempts` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `accounts_customuser_groups`
--

DROP TABLE IF EXISTS `accounts_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customuser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq` (`customuser_id`,`group_id`),
  KEY `accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_customuser__customuser_id_bc55088e_fk_accounts_` FOREIGN KEY (`customuser_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `accounts_customuser_user_permissions`
--

DROP TABLE IF EXISTS `accounts_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customuser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_customuser_user_customuser_id_permission_9632a709_uniq` (`customuser_id`,`permission_id`),
  KEY `accounts_customuser__permission_id_aea3d0e5_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_customuser__customuser_id_0deaefae_fk_accounts_` FOREIGN KEY (`customuser_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `accounts_customuser__permission_id_aea3d0e5_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cases_casenote`
--

DROP TABLE IF EXISTS `cases_casenote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cases_casenote` (
  `note_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `author` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note_text` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_private` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`note_id`),
  KEY `cases_casenote_case_id_fd10eb8b_fk_cases_forensiccase_case_id` (`case_id`),
  CONSTRAINT `cases_casenote_case_id_fd10eb8b_fk_cases_forensiccase_case_id` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cases_forensiccase`
--

DROP TABLE IF EXISTS `cases_forensiccase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cases_forensiccase` (
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `case_number` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `case_type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `incident_date` datetime(6) NOT NULL,
  `incident_location` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `incident_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `police_report_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `court_case_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `case_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `priority` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `case_notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `doctor_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `patient_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`case_id`),
  UNIQUE KEY `case_number` (`case_number`),
  KEY `cases_forensiccase_doctor_id_d334f447_fk_staff_doctor_doctor_id` (`doctor_id`),
  KEY `cases_forensiccase_patient_id_953bfafb_fk_patients_` (`patient_id`),
  CONSTRAINT `cases_forensiccase_doctor_id_d334f447_fk_staff_doctor_doctor_id` FOREIGN KEY (`doctor_id`) REFERENCES `staff_doctor` (`doctor_id`),
  CONSTRAINT `cases_forensiccase_patient_id_953bfafb_fk_patients_` FOREIGN KEY (`patient_id`) REFERENCES `patients_patient` (`patient_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cases_witnessstatement`
--

DROP TABLE IF EXISTS `cases_witnessstatement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cases_witnessstatement` (
  `statement_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `witness_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `witness_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `witness_contact` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `witness_address` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `relationship_to_case` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `statement_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `statement_text` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `statement_date` datetime(6) NOT NULL,
  `recorded_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `recording_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `verified_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`statement_id`),
  KEY `cases_witnessstateme_case_id_4262b30a_fk_cases_for` (`case_id`),
  CONSTRAINT `cases_witnessstateme_case_id_4262b30a_fk_cases_for` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `clinical_appointment`
--

DROP TABLE IF EXISTS `clinical_appointment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinical_appointment` (
  `appointment_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `appointment_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `scheduled_date` datetime(6) NOT NULL,
  `duration_minutes` smallint unsigned NOT NULL,
  `location` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `doctor_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`appointment_id`),
  KEY `clinical_appointment_case_id_164a1b3f_fk_cases_for` (`case_id`),
  KEY `clinical_appointment_doctor_id_3b6cfecf_fk_staff_doc` (`doctor_id`),
  CONSTRAINT `clinical_appointment_case_id_164a1b3f_fk_cases_for` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`),
  CONSTRAINT `clinical_appointment_doctor_id_3b6cfecf_fk_staff_doc` FOREIGN KEY (`doctor_id`) REFERENCES `staff_doctor` (`doctor_id`),
  CONSTRAINT `clinical_appointment_chk_1` CHECK ((`duration_minutes` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `clinical_clinicalexamination`
--

DROP TABLE IF EXISTS `clinical_clinicalexamination`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinical_clinicalexamination` (
  `exam_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `examination_date` datetime(6) NOT NULL,
  `examination_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `time_of_examination` time(6) DEFAULT NULL,
  `general_condition` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `consciousness` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nutritional_status` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `photographs_taken` smallint unsigned NOT NULL,
  `photograph_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `injury_details` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `wound_description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `examination_findings` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `causative_weapon` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `investigation_required` tinyint(1) NOT NULL,
  `investigation_type` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `referral_required` tinyint(1) NOT NULL,
  `referral_department` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `referral_reason` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `officer_notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `doctor_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`exam_id`),
  KEY `clinical_clinicalexa_case_id_ec251125_fk_cases_for` (`case_id`),
  KEY `clinical_clinicalexa_doctor_id_f50034d6_fk_staff_doc` (`doctor_id`),
  CONSTRAINT `clinical_clinicalexa_case_id_ec251125_fk_cases_for` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`),
  CONSTRAINT `clinical_clinicalexa_doctor_id_f50034d6_fk_staff_doc` FOREIGN KEY (`doctor_id`) REFERENCES `staff_doctor` (`doctor_id`),
  CONSTRAINT `clinical_clinicalexamination_chk_1` CHECK ((`photographs_taken` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `core_activitylog`
--

DROP TABLE IF EXISTS `core_activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_activitylog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_type` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `record_id` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_details` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `ip_address` char(39) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `logged_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `core_activi_user_id_a092be_idx` (`user_id`,`logged_at`),
  KEY `core_activi_action__ba020b_idx` (`action_type`),
  KEY `core_activi_model_n_8de83f_idx` (`model_name`),
  CONSTRAINT `core_activitylog_user_id_8705e516_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1291 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `core_notification`
--

DROP TABLE IF EXISTS `core_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_notification` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `notification_type` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `related_model` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `related_id` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `recipient_id` bigint NOT NULL,
  PRIMARY KEY (`notification_id`),
  KEY `core_notifi_recipie_aeffaf_idx` (`recipient_id`,`is_read`),
  KEY `core_notifi_created_d0c445_idx` (`created_at`),
  CONSTRAINT `core_notification_recipient_id_24a3d95c_fk_accounts_` FOREIGN KEY (`recipient_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evidence_evidence`
--

DROP TABLE IF EXISTS `evidence_evidence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evidence_evidence` (
  `evidence_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `evidence_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `evidence_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `evidence_description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `collection_date` datetime(6) NOT NULL,
  `collected_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_location` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_temperature` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_conditions` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `barcode_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `qr_code_data` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chain_of_custody` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_handled_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_handled_date` datetime(6) DEFAULT NULL,
  `analysis_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `analysis_type` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `analysis_result` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `disposal_status` varchar(25) COLLATE utf8mb4_unicode_ci NOT NULL,
  `disposal_date` datetime(6) DEFAULT NULL,
  `disposal_approved_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`evidence_id`),
  UNIQUE KEY `evidence_number` (`evidence_number`),
  UNIQUE KEY `barcode_number` (`barcode_number`),
  KEY `evidence_evidence_case_id_b6f5fb4c_fk_cases_forensiccase_case_id` (`case_id`),
  CONSTRAINT `evidence_evidence_case_id_b6f5fb4c_fk_cases_forensiccase_case_id` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evidence_evidencechainofcustody`
--

DROP TABLE IF EXISTS `evidence_evidencechainofcustody`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evidence_evidencechainofcustody` (
  `custody_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `handled_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `from_location` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `to_location` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_datetime` datetime(6) NOT NULL,
  `purpose` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `condition_note` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `signature_obtained` tinyint(1) NOT NULL,
  `remarks` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `evidence_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `handled_by_staff_id` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`custody_id`),
  KEY `evidence_evidencecha_evidence_id_7fb409f5_fk_evidence_` (`evidence_id`),
  KEY `evidence_evidencecha_handled_by_staff_id_dfe1019a_fk_staff_sta` (`handled_by_staff_id`),
  CONSTRAINT `evidence_evidencecha_evidence_id_7fb409f5_fk_evidence_` FOREIGN KEY (`evidence_id`) REFERENCES `evidence_evidence` (`evidence_id`),
  CONSTRAINT `evidence_evidencecha_handled_by_staff_id_dfe1019a_fk_staff_sta` FOREIGN KEY (`handled_by_staff_id`) REFERENCES `staff_staff` (`staff_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evidence_laboratorytest`
--

DROP TABLE IF EXISTS `evidence_laboratorytest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evidence_laboratorytest` (
  `test_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `test_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `test_description` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `requested_date` datetime(6) DEFAULT NULL,
  `requested_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `test_date` datetime(6) NOT NULL,
  `completion_date` datetime(6) DEFAULT NULL,
  `test_result` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `result_interpretation` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `test_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `test_notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `certificate_issued` tinyint(1) NOT NULL,
  `certificate_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `evidence_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `technician_id` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`test_id`),
  KEY `evidence_laboratoryt_evidence_id_5d94d5a3_fk_evidence_` (`evidence_id`),
  KEY `evidence_laboratoryt_technician_id_0c1f0b4c_fk_staff_sta` (`technician_id`),
  CONSTRAINT `evidence_laboratoryt_evidence_id_5d94d5a3_fk_evidence_` FOREIGN KEY (`evidence_id`) REFERENCES `evidence_evidence` (`evidence_id`),
  CONSTRAINT `evidence_laboratoryt_technician_id_0c1f0b4c_fk_staff_sta` FOREIGN KEY (`technician_id`) REFERENCES `staff_staff` (`staff_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `patients_patient`
--

DROP TABLE IF EXISTS `patients_patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patients_patient` (
  `patient_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nic_passport` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `age` smallint unsigned DEFAULT NULL,
  `gender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `district` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_no` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `emergency_contact_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `emergency_contact_no` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `photograph` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `civil_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `occupation` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `registered_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `nic_passport` (`nic_passport`),
  CONSTRAINT `patients_patient_chk_1` CHECK ((`age` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `postmortem_mortuary`
--

DROP TABLE IF EXISTS `postmortem_mortuary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `postmortem_mortuary` (
  `mortuary_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `room_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `room_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `capacity` smallint unsigned NOT NULL,
  `current_occupancy` smallint unsigned NOT NULL,
  `refrigeration` tinyint(1) NOT NULL,
  `temperature_celsius` decimal(5,2) DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`mortuary_id`),
  UNIQUE KEY `room_number` (`room_number`),
  CONSTRAINT `postmortem_mortuary_chk_1` CHECK ((`capacity` >= 0)),
  CONSTRAINT `postmortem_mortuary_chk_2` CHECK ((`current_occupancy` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `postmortem_postmortem`
--

DROP TABLE IF EXISTS `postmortem_postmortem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `postmortem_postmortem` (
  `postmortem_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `inquest_order_date` date DEFAULT NULL,
  `court_order_date` date DEFAULT NULL,
  `autopsy_date` datetime(6) NOT NULL,
  `autopsy_start_time` time(6) DEFAULT NULL,
  `autopsy_end_time` time(6) DEFAULT NULL,
  `autopsy_location` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `inquest_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `court_order_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `external_findings` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `internal_findings` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `organ_findings` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `immediate_cause` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cause_a` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cause_b` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cause_c` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `death_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estimated_time_of_death` datetime(6) DEFAULT NULL,
  `audio_recording_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `audio_duration_secs` int unsigned DEFAULT NULL,
  `photographs_taken` smallint unsigned NOT NULL,
  `photograph_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `specimen_collected` tinyint(1) NOT NULL,
  `specimen_details` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `assistant_names` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `doctor_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`postmortem_id`),
  UNIQUE KEY `case_id` (`case_id`),
  KEY `postmortem_postmorte_doctor_id_5d7ea04f_fk_staff_doc` (`doctor_id`),
  CONSTRAINT `postmortem_postmorte_case_id_2b275ece_fk_cases_for` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`),
  CONSTRAINT `postmortem_postmorte_doctor_id_5d7ea04f_fk_staff_doc` FOREIGN KEY (`doctor_id`) REFERENCES `staff_doctor` (`doctor_id`),
  CONSTRAINT `postmortem_postmortem_chk_1` CHECK ((`audio_duration_secs` >= 0)),
  CONSTRAINT `postmortem_postmortem_chk_2` CHECK ((`photographs_taken` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reports_courtreport`
--

DROP TABLE IF EXISTS `reports_courtreport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports_courtreport` (
  `report_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_type` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_title` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_conclusions` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `recommended_investigations` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `court_name` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `court_case_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `magistrate_district` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `judge_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lawyer_details` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `generated_at` datetime(6) NOT NULL,
  `submitted_at` datetime(6) DEFAULT NULL,
  `received_at` datetime(6) DEFAULT NULL,
  `submission_proof_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `digital_signature_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `approved_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `approved_at` datetime(6) DEFAULT NULL,
  `remarks` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `case_id` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `doctor_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`report_id`),
  KEY `reports_courtreport_case_id_608a09d2_fk_cases_for` (`case_id`),
  KEY `reports_courtreport_doctor_id_49302ede_fk_staff_doctor_doctor_id` (`doctor_id`),
  CONSTRAINT `reports_courtreport_case_id_608a09d2_fk_cases_for` FOREIGN KEY (`case_id`) REFERENCES `cases_forensiccase` (`case_id`),
  CONSTRAINT `reports_courtreport_doctor_id_49302ede_fk_staff_doctor_doctor_id` FOREIGN KEY (`doctor_id`) REFERENCES `staff_doctor` (`doctor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `staff_doctor`
--

DROP TABLE IF EXISTS `staff_doctor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_doctor` (
  `doctor_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nmc_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `qualification` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `specialization` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jmo_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `license_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `department` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `office_contact_no` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `signature_path` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `staff_id` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`doctor_id`),
  UNIQUE KEY `nmc_number` (`nmc_number`),
  UNIQUE KEY `license_number` (`license_number`),
  UNIQUE KEY `staff_id` (`staff_id`),
  CONSTRAINT `staff_doctor_staff_id_4d5359bc_fk_staff_staff_staff_id` FOREIGN KEY (`staff_id`) REFERENCES `staff_staff` (`staff_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `staff_staff`
--

DROP TABLE IF EXISTS `staff_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_staff` (
  `staff_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `staff_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `department` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `designation` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_no` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `join_date` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`staff_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-12 14:30:30
